/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-image: url(/dist/images/back.png);
  height: 100vh;
  font-family: "Montserrat", sans-serif; }
  body > .container {
    box-shadow: 2px 5px 12px #333;
    padding: 0;
    width: 100%;
    max-width: none; }
    @media (min-width: 768px) {
      body > .container {
        max-width: 70%; } }

main {
  background: #fff;
  padding: 0; }

.homepage-headline {
  display: block;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px;
  text-transform: uppercase; }

a {
  transition: 0.3s all; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #890b0b;
  color: #fff;
  width: 300px;
  display: block; }
  .btn:hover {
    background: #5a0707;
    color: #fff; }

.header {
  background: #d8c895;
  padding: 20px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .header {
      flex-direction: row; } }
  .header__logo-wrapper {
    display: flex;
    justify-content: center; }
    @media (min-width: 768px) {
      .header__logo-wrapper {
        display: block;
        flex: 0 0 30%; } }
    .header__logo-wrapper a {
      display: inline-block; }
  .header__logo {
    display: block;
    margin: 0 auto;
    width: 240px; }
  .header__accolades {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; }
    .header__accolades img {
      width: 50px;
      display: inline-block;
      height: auto;
      margin: 0 5px; }
      @media (min-width: 768px) {
        .header__accolades img {
          width: 100px; } }
  .header__cta-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .header__cta .btn {
    margin: 0 auto; }
    @media (min-width: 768px) {
      .header__cta .btn {
        margin: 0 0 0 auto; } }
  .header__cta:nth-of-type(2) {
    margin-top: 10px; }
  .header__info {
    flex: 1 0 auto;
    text-align: right; }
    .header__info h2 {
      margin: 0 0 10px 0;
      font-size: 1.25rem;
      font-weight: 600; }
  .header .po-box,
  .header .phone-number {
    display: block; }
  .header .phone-number {
    margin: 10px 0 0 0;
    font-weight: 600;
    color: #890b0b; }

.nav {
  background: #890b0b;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0; }
  .nav__list {
    display: flex; }
  .nav__link {
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem; }
    .nav__link:hover {
      color: #000; }
  .nav__item {
    border-right: 2px solid #000; }
    .nav__item:last-of-type {
      border-right: none; }

.hero {
  padding: 20px 40px;
  width: 80%;
  margin: 0 auto 20px; }
  .hero__slider {
    position: relative; }
    .hero__slider::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #000;
      opacity: 0.3;
      z-index: -1; }
  .hero__cell {
    height: 400px;
    width: 100%; }
    .hero__cell--1 {
      background: url(https://rmjlandscapes.com/portfolio/11.jpg) center center/cover no-repeat; }
    .hero__cell--2 {
      background: url(https://rmjlandscapes.com/portfolio/12.jpg) center center/cover no-repeat; }
    .hero__cell--3 {
      background: url(https://rmjlandscapes.com/portfolio/14.jpg) center center/cover no-repeat; }
    .hero__cell--4 {
      background: url(https://rmjlandscapes.com/portfolio/17.jpg) center center/cover no-repeat; }
    .hero__cell--5 {
      background: url(https://rmjlandscapes.com/portfolio/20.jpg) center center/cover no-repeat; }
  .hero .flickity-button {
    background: 0;
    color: #fff; }

.contact {
  background: #000;
  color: #fff;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact__headline {
    color: #fff;
    margin: 0 0 30px 0; }
  .contact__form {
    width: 60%; }
    .contact__form-field {
      padding: 0 10px;
      display: flex;
      align-items: center;
      position: relative; }
    .contact__form-input {
      border: none !important;
      border-bottom: 1px solid #777 !important;
      border-radius: 0 !important;
      height: 40px; }
    .contact__form select {
      padding: 3px;
      margin: 0;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      background: #f8f8f8;
      color: #888;
      border: none;
      outline: none;
      display: inline-block;
      cursor: pointer; }
  .contact label {
    flex: 1 0 auto;
    margin-right: 10px; }
  .contact .btn {
    margin: 0 auto; }

.service {
  grid-column: auto/span 12;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 1.75rem; }
  .service__wrapper {
    padding: 40px 30px;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(24, 1fr); }
  .service::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    transition: 0.3s all; }
  .service:hover::after {
    opacity: 0.5; }
  .service--1 {
    background: url(https://rmjlandscapes.com/portfolio/11.jpg) center center/cover no-repeat; }
  .service--2 {
    background: url(//rmjlandscapes.com/portfolio/9.jpg) center center/cover no-repeat; }
  .service--3 {
    background: url(//rmjlandscapes.com/portfolio/10.jpg) center center/cover no-repeat; }
  .service--4 {
    background: url(//rmjlandscapes.com/portfolio/19.jpg) center center/cover no-repeat; }
  .service__header {
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1; }

.footer {
  background: #d8c895;
  color: #000;
  padding: 30px 10px 10px;
  text-align: center; }
  .footer a:hover {
    color: #890b0b;
    text-decoration: none; }
  .footer__logo {
    display: inline-block;
    margin: 10px auto 20px; }
    .footer__logo-img {
      width: 225px; }
  .footer__links {
    display: flex;
    justify-content: center;
    margin: 20px 0; }
  .footer__link {
    border-right: 2px solid #000;
    color: #000;
    display: block;
    padding: 0 20px; }
    .footer__link:last-of-type {
      border-right: none; }
  .footer__address {
    margin: 20px 0; }
  .footer__phone {
    margin-left: 30px;
    color: #000; }
