/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-image: url(/dist/images/back.png);
  height: 100vh;
  font-family: "Montserrat", sans-serif; }
  body > .container {
    box-shadow: 0 0 12px #333;
    padding: 0; }

main {
  background: #fff;
  padding: 0; }

.homepage-headline {
  display: block;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px;
  text-transform: uppercase; }

a {
  transition: 0.3s all; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }

.header {
  background: #d8c895;
  display: flex;
  padding: 20px; }
  .header__logo-wrapper {
    flex: 0 0 30%; }
  .header__logo {
    display: block;
    width: 240px; }
  .header__info {
    flex: 1 0 auto;
    text-align: right; }
    .header__info h2 {
      margin: 0 0 10px 0;
      font-size: 1.25rem;
      font-weight: 600; }
  .header .po-box,
  .header .phone-number {
    display: block; }
  .header .phone-number {
    margin: 10px 0 0 0;
    font-weight: 600;
    color: #890b0b; }

.nav {
  background: #890b0b;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0; }
  .nav__list {
    display: flex; }
  .nav__link {
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem; }
    .nav__link:hover {
      color: #000; }
  .nav__item {
    border-right: 3px solid #000; }
    .nav__item:last-of-type {
      border-right: none; }

.contact {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact__form {
    width: 70%; }
    .contact__form-field {
      padding: 0 10px;
      display: flex;
      align-items: center;
      position: relative; }
      .contact__form-field::after {
        content: "\f107";
        font-size: 1rem;
        color: #aaa;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 15px;
        top: 2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none; }
    .contact__form-input {
      border: none !important;
      border-bottom: 1px solid #777 !important;
      border-radius: 0 !important;
      height: 40px;
      -webkit-appearance: none;
      -webkit-border-radius: 0px; }
    .contact__form select {
      padding: 3px;
      margin: 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      background: #f8f8f8;
      color: #888;
      border: none;
      outline: none;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer; }
  .contact label {
    flex: 1 0 auto;
    margin-right: 10px; }

.hero {
  padding: 20px 40px;
  width: 80%;
  margin: 0 auto; }
  .hero__cell {
    height: 400px; }
    .hero__cell--1 {
      background: url(/dist/images/1.jpg) center center/cover no-repeat; }

.service {
  grid-column: auto/span 12;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 1.75rem; }
  .service__wrapper {
    padding: 10px;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(24, 1fr); }
  .service::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    transition: 0.3s all; }
  .service:hover::after {
    opacity: 0.8; }
  .service--1 {
    background: url(//kvlandscapes.com/wp-content/uploads/2017/04/nice-lawn.jpg) center center/cover no-repeat; }
  .service--2 {
    background: url(https://www.virginiagreenlawncare.com/wp-content/uploads/2015/05/20150429_3809_nightmuse_0006.jpg) center center/cover no-repeat; }
  .service--3 {
    background: url(https://www.grofflandscapedesign.com/wp-content/uploads/2016/09/SmallerProjects.jpg) center center/cover no-repeat; }
  .service--4 {
    background: url(https://gvtreeservice.com/wp-content/uploads/2016/09/tree-service.jpg) center center/cover no-repeat; }

.footer {
  background: #d8c895;
  color: #000;
  padding: 30px 10px 10px;
  text-align: center; }
  .footer a:hover {
    color: #890b0b;
    text-decoration: none; }
  .footer__logo {
    display: block;
    margin: 10px auto 20px; }
    .footer__logo-img {
      width: 225px; }
  .footer__links {
    display: flex;
    justify-content: center; }
  .footer__link {
    display: block;
    margin: 0 10px;
    color: #000; }
  .footer__info {
    margin: 10px 0; }
  .footer__name {
    font-size: 1.2rem;
    margin: 20px 0; }
  .footer .phone-number {
    color: #000;
    margin: 5px 0;
    display: block; }
    .footer .phone-number:hover {
      color: #890b0b; }
